{% extends "base.html" %}
{% block content %}
{{ super() }}
<h1 style="text-align: center;">Events</h1>
<div class="container" style="width: 80%; margin-left: 10%; margin-right: 10%;">
{% if listEmpty %}
	<h2 style="text-align: center;"> No data to display</h2>
{% else %}
	<table id="data_table" class="table table-striped table-bordered hover" style="width: 100%;">
		<thead><tr>
			{% for col in dataHead %}
				<td>{{ col }}</td>
			{% endfor %}
		</tr></thead>
			</tr>
		{% for row, prior, visible, view in content_tokens %}
			<tr {% if row[-1] == 0 %} style="opacity:0.5;"{% endif %}>
				{% for col in row[:-1] %}
					<td style="vertical-align:middle;">{{ col }}</td>
				{% endfor %}
				<td style="width: 200px;">
					<div class="input-group">
						<input type="email" id="{{row[0]}}_{{prior}}" name="input2-group2" value="{{ row[-2] }}" class="form-control" style="width: 60px;<float: left;">
						<button class="btn btn-primary cnf-btn" style="width: 40px;float: left; margin-left: 5px;"><i class="fa fa-check"></i></button>
						<button class="btn {% if row[-1] == 1 %}del-btn{% else %}add-btn{% endif %}" id="{{ row[0] }}_{{ visible }}" title="{% if row[-1] == 0 %}Delete Event{% else %}Add Event{% endif %}" style="width: 40px;float: left; margin-left: 5px;"><i class="fa fa-eye{% if row[-1] == 1 %}-slash{% endif %}"></i></button>
						<button class="btn view-btn" onclick="window.open('/admin/event/{{ row[0] }}/view?token={{ view }}', '_blank');" title="View Events" style="width: 40px; float: left; margin-left: 5px;"><i class="fa fa-arrow-right"></i></button></td>
					</div>
			</tr>
		{% endfor %}
	{% endif %}
	</table>
</div>
{% endblock %}
{% block styles %}
{{ super() }}
<style>
.btn { color: white; padding: 5px 10px; font-size: 16px; cursor: pointer; opacity: 1;}
.btn:hover { color: white; }
.view-btn { background-color: #0066ff; }
.view-btn:hover { background-color: #0000ff; }
.del-btn { background-color: #ff3333; }
.del-btn:hover { background-color: #e60000; }
.add-btn { background-color: #007700; }
.add-btn:hover { background-color: #006600; }
.cnf-btn{ background-color: #ff9933; }
.cnf-btn:hover { background-color: #ee8822; }
</style>
{% endblock %}
{% block html %}
{{ super() }}
<script>
	$(document).ready(function() {
		$('#data_table').DataTable();
	});
	var btn;
	$('.cnf-btn').click(function(){
		ip = this.parentElement.childNodes[1];
		Arr = ip.id.split('_');
		Val = ip.value;
		$.ajax({
			url: "/admin/event/" + Arr[0] + "/" + "priority", 
			method: 'POST',
			data: 'token=' + Arr[1] + "&priority=" + Val,
			success: function(result){
			$('button').prop('disabled', false);
			if(result == 'OK') {
				location.reload();
			}
		}});
	})
	function sendReq(button, linkLocation) {
		$('button').prop('disabled', true);
		button.childNodes[0].setAttribute('class', 'fa fa-refresh fa-spin');
		button.style.color = 'white';
		Arr = button.getAttribute('id').split('_');
		$.ajax({
			url: "/admin/event/" + Arr[0] + "/visible/" + linkLocation, 
			method: 'POST',
			data: 'token=' + Arr[1],
			success: function(result){
			$('button').prop('disabled', false);
			if(result == 'OK') {
				location.reload();
			}
		}});
	}
	$(".del-btn").click(function(){
		btn = this;
		sendReq(btn, 'disable');
	});
	$(".add-btn").click(function(){
		btn = this;
		sendReq(btn, 'enable');
	});
	$('.view-btn').click(function() {
		this.style.color = 'white';
	});
</script>
{% endblock %}